#index
{
   border:1px solid red;
   border-radius:20px;
   width:200px;
   height:30px;	
   font-size:20px;
   font-family:"楷体";
   font-weight:bold;
   text-align:center;
   color: red;
   background-color:antiquewhite;
   line-height:100px;
   margin-top: 5opx;
    
}
 