* {
	padding: 0;
	margin: 0;
}

#top {
	width: 100%;
	height: 100px;
	/*border:1px solid black;*/
	float: left;
}

.one1 {
	width: 130px;
	height: 70px;
	/*border:1px solid black;*/
	margin-left: 170px;
	margin-top: 17px;
	float: left;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: -305px -74px;
}

.one2 {
	width: 290px;
	height: 30px;
	/*	border:1px solid black;*/
	margin-left: 870px;
	margin-top: 36px;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: 0px -35px;
}

#zhongjian {
	width: 99.8%;
	height: 650px;
	/*border:1px solid black;*/
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-position: -300px;
	float: left;
}

.two {
	width: 365px;
	height: 538px;
	/*border:1px solid black;*/
	border-radius: 3px;
	margin-left: 812px;
	margin-top: 50px;
	background-color: white;
	float: left;
}

.two0 {
	width: 365px;
	height: 50px;
	border: none;
	border-bottom: 1px solid #E0E0E0;
	float: left;
}

.two1 {
	width: 150px;
	height: 25px;
	margin-top: 10px;
	/*border:1px solid black;*/
	/*border-right: 1px solid #E0E0E0 ;*/
	/*border-right: 0.5px solid #E0E0E0 ;*/
	background-color: white;
	font-weight: bold;
	margin-left: 30px;
	line-height: 30px;
	color: #746D66;
	cursor: pointer;
	float: left;
}

.two11 {
	width: 180px;
	height: 50px;
	/*border:1px solid black;*/
	border-bottom: 1px solid #E0E0E0;
	background-color: white;
	text-align: center;
	margin-left: 5px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	font-size: 13px;
}

.two11 span:nth-child(2) {
	color:#F10180 ;
}

#three {
	/*border:1px solid black;*/
	width: 365px;
	height: 475px;
	float: left;
}

.three1 {
	border: 1px solid #B2B2B2;
	border-radius: 3px;
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

.three1::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: -565px -157px;
	float: left;
}

.three02 {
	/*border:1px solid black;*/
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

.three2 {
	border: 1px solid #B2B2B2;
	border-radius: 3px;
	width: 150px;
	height: 50px;
	float: left;
}

.three002 {
	/*border:1px solid #B2B2B2;*/
	margin-top: 3px;
	border-radius: 3px;
	width: 135px;
	height: 45px;
	margin-left: 10px;
	background-color: #D0D0D0;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
	color: #999999;
	float: left;
}

.three2::before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: -590px -157px;
	float: left;
}

.three3 {
	border: 1px solid #B2B2B2;
	border-radius: 3px;
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

.three3::before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: -540px -157px;
	float: left;
}

.three4 {
	border: 1px solid black;
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

.three5 {
	/*border:1px solid black;*/
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

.three5 input {
	width: 20px;
	height: 20px;
	font-size: 5px;
}

.three6 {
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

input {
	width: 250px;
	height: 40px;
	margin: 3px 7px;
	outline: none;
	border: 0px;
	overflow: hidden;
	text-indent: 5px;
}

.duande {
	width: 100px;
	height: 40px;
	margin: 3px 7px;
	outline: none;
	border: 0px;
	overflow: hidden;
	text-indent: 5px;
}

.three6 input {
	border: 0px;
	width: 300px;
	height: 50px;
	margin: auto;
	background-color: #F10180;
	color: white;
	font-size: 17px;
}

span {
	font-size: 12px;
}

.lanse {
	font-size: 12px;
	color: #66C2EF;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.lanse:hover {
	color: aquamarine;
}

#db {
	width: 99.8%;
	height: 100px;
	/*border:1px solid black;*/
	float: left;
	text-align: center;
	line-height: 100px;
	color: #999999;
	font-size: 13px;
}
.t:hover{
	opacity:0.8;
}
